# 환경과 관련된 파일
/.gradle/
/.idea/
/generated/
**/generated/
# 빌드와 관련된 파일
/build/
/bin/
/out/
# application-secret.yml 파일
application-secret.yml

# FCM SDK 파일
dm-plz-family-farm-firebase-adminsdk-zg1zi-27b07f7c0f.json